* {
    padding: 0;
    margin: 0;
}

/* Navbar CSS */

.navbar {
    background-color: white !important;
    /* height: 80px; */
    /* border: thin solid red; */
}

.navbar-brand {
    /* margin-bottom: -40px; */
    margin-left: 30px;
}

.logo-img {
    position: absolute;
    height: 140px;
    top: 1px;
    padding: 10px 0;
}

nav ul li a.active,
nav ul li a:hover {
    text-decoration: underline;
    /* border-bottom: thin solid  #093fab; */
    color: #093fab !important;
    transition: .5s;

    .Home-icon,
    .About-icon,
    .service-icon,
    .blog-icon,
    .contact-icon {
        fill: #093fab;
        transition: .5s;
    }
}

.nav-item {
    margin-right: 80px;
    font-family: "Roboto", sans-serif !important;
}

.nav-link {
    /* border-bottom: thin solid  #ffffff; */
    transition: .5s;
    color: #04a7ac !important;
}

.nav-item-last {
    margin-right: 0;
}

.offcanvas-title img {
    height: 80px;
}

.Home-icon,
.service-icon,
.About-icon,
.blog-icon,
.contact-icon {
    fill: #04a7ac;
}

.Home-svg {
    margin-left: 11px;
    height: 20px;
    display: block;
}

.Abt-svg {
    height: 24px;
    margin-left: 20px;
    display: block;

}

.service-svg {
    height: 24px;
    margin-left: 18px;
    display: block;
}

.blog-svg {
    height: 24px;
    margin-left: 15px;
    display: block;
}

.blog-svg_1 {
    height: 24px;
    /* margin-left: 15px; */
    display: block;
}

.contact-svg {
    height: 22px;
    margin-left: 25px;
    display: block;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-header {
    border-bottom: thin solid #9c9c9c;
}

.offcanvas.hiding,
.offcanvas.show {

    .Home-svg,
    .Abt-svg,
    .service-svg,
    .blog-svg,
    .contact-svg {
        margin-left: 0;
        margin-right: 30px;
        display: inline;
    }

    .nav-item {
        margin-top: 20px;
        /* transition: .5s; */
    }
}

.offcanvas.hiding,
.offcanvas.show {

    li a.active,
    li a:hover {
        text-decoration: none;
    }
}

@media (max-width:1024px) {
    .nav-item {
        margin-right: 40px;
    }

    .nav-item-last {
        margin-right: 0;
    }
}

/* Banner CSS..................................................................................... */

.banner-fluid {
    background-color: #4195d3;
    position: relative;
    padding: 0;
}

.banner-heading {
    font-family: "Sniglet", system-ui;
    color: white;
}

.banner-sub {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: justify;
}

.Abt-banner-img {
    height: 350px;
}

.abt-img-col {
    text-align: center;
}

.cloud-img {
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media (max-width:768px) {
    .banner-row {
        text-align: center;
    }

    .banner-row p {
        text-align: center;
    }
}

@media (max-width: 426px) {
    .Abt-banner-img{
        height: auto;
    }
} 

/* About CSS.......................................................................................... */

.about-fluid {
    background-image: url(../Images/img1.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: left -30px bottom 0;
    padding: 0;
}

.abt-heading {
    font-size: 50px;
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

.abt-sub-heading {
    font-family: "Salsa", cursive;
    color: #093fab;
}

@media (max-width:1025px) {
    .home-abt-img {
        margin-top: 20px;
    }
}

@media (max-width:426px) {
    .home-abt-img {
        height: 300px !important;
    }
}

/* <!-- V & M CSS ....................................................................................--> */

.v_m-fluid {
    padding: 0;
}

.v_m-heading {
    text-align: center;
    margin-top: 20px;
}

.v_m-heading h1 {
    font-size: 50px;
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

.circle {
    width: 85px;
    /* Adjust the width and height as needed */
    height: 85px;
    border-radius: 50%;
    border: 2px solid #04a7ac;
    position: relative;
}

.circle img {
    position: absolute;
    left: 16px;
    top: 12px;
    height: 55px;
}

.sub-heading {
    font-family: "Sniglet", system-ui;
    color: #093fab !important;
}

.v-info {
    text-align: justify;
}

.v-btn .nav-link,
.m-btn .nav-link {
    font-size: larger;
    font-family: "Sniglet", system-ui;
    border-radius: 0;
    background-color: transparent !important;
    border-bottom: 3px solid #04a7ac;
    color: black !important;
    position: relative;

}

.m-btn .nav-link {
    margin-left: 20px;
}

.v-btn .nav-link.active,
.m-btn .nav-link.active {
    background-color: #04a7ac !important;
    color: white !important;
}

.v-btn .nav-link.active::before,
.m-btn .nav-link.active::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #04a7ac;
    transform: rotate(180deg);
    top: 46px;
    left: 50px;
}

.m-btn .nav-link.active::before {
    left: 55px;
}

@media (max-width:1025px) {
    .circle {
        margin-left: 20px;
    }
}

@media (max-width:376px) {
    .m-btn .nav-link {
        margin-left: 5px;
    }
}

/* <!-- History CSS ....................................................................................--> */

.history-fluid {
    padding: 0;
}

.history-heading {
    text-align: center;
    margin-top: 40px;
}

.history-heading h1 {
    font-size: 50px;
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

/* <!-- Staff-CSS ....................................................................................--> */

.staff-fluid {
    padding: 0;
}

.staff-heading {
    text-align: center;
    margin-top: 40px;
}

.staff-heading h1 {
    font-size: 50px;
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

.staff-heading h4 {
    /* padding: 0 360px 0 360px; */
    font-family: "Roboto", sans-serif !important;
}

.img-div {
    max-width: 210px;
    margin: auto;
    position: absolute;
}

.text-div {
    background-image: url(../Images/orginal--shape1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    text-align: center;
    position: relative;
    transition: .5s;
    height: 230px;
}

.text-title {
    margin-bottom: 7px;
    font-family: "Sniglet", system-ui;
    position: relative;
    color: #fff;
    transition: .5s;
}

.pxl-item--title{
    font-family: "Sniglet", system-ui;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    transition: .5s;
}

.pxl-item--position {
    font-family: "Sniglet", system-ui;
    color: #fff;
}

.social-icon-div {
    overflow: hidden;
    transition: .5s;
}

.socail-icon {
    height: 10px;
}


.pxl-swiper-slide {

    position: relative;
    padding: 0 15px;
}

.pxl-item--image {
    max-width: 210px;
    margin: auto;
    margin-bottom: -102px;
}

.pxl-item--meta {
    text-align: center;
    position: relative;
    padding: 130px 20px 11px 20px;
    transition: .5s;
}

.pxl-item--meta:before {
    background-color: #fe7162;
    z-index: -1;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    mask-image: url(../Images/mask-team.png);
    -webkit-mask-image: url(../Images/mask-team.png);
    -ms-mask-image: url(../Images/mask-team.png);
    -o-mask-image: url(../Images/mask-team.png);
    -webkit-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    -webkit-mask-position: left top;
    -ms-mask-position: left top;
    -o-mask-position: left top;
    background-color: #fe7162;

}

.pxl-item--meta:before {
    background-color: #04a7ac;
}

.pxl-item--social {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
}

.pxl-item--social a {
    display: inline-flex;
    width: 37px;
    height: 37px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    margin: 0 3px;

}

.pxl-team-grid1 .pxl-item--social a i,
.pxl-team-carousel1 .pxl-item--social a i {
    position: relative;
    z-index: 2;
}

.pxl-item--inner:hover .pxl-item--social {
    min-height: 100px;
}

.pxl-item--inner:hover .pxl-item--meta:before {
    background-color:#154ec0;
}

.pxl-item--inner:hover .pxl-item--social {
    max-height: 400px;
    opacity: 1;
}

.social-icon{
    height: 20px;
}

.staff-img{
    width: 202px;
    height: 202px;
}

.pxl-swiper-slide{
    width: 302.5px;
}

@media (max-width:1025px) {
    .staff-img{
        width: 150px;
        height: 150px;
        margin-left: 25px;
    }
    .pxl-swiper-slide{
        width: 230.5px;
    }
}

@media (max-width:769px) {
    .staff-img{
        width: 202px !important;
        height: 202px !important;
        margin-left: 0px !important;
    }
    
    .pxl-swiper-slide{
        width: 302.5px !important;
    }
}

@media (max-width:426px) {
    .pxl-swiper-slide {
        margin-left: 15px;
    }
}

@media (max-width: 376px) {
    .pxl-swiper-slide {
        margin-left: -11px;
    }
}

/* Footer section............................................................................................ */

.footer-fluid {
    background-color: #04a7ac;
    background-image: url(../Images/bird.png), url(../Images/footer-book.png), url(../Images/footer-book.png), url(../Images/footer-buttter.png), url(../Images/footer-buttter.png), url(../Images//footer-smily.png);
    background-position: top center, left 18px bottom 30px, top 18px right 45px, top 20px left 20px, top right 500px, bottom 20px right 20px;
    background-repeat: no-repeat;
    justify-content: center !important;
    align-items: center !important;
    color: white;
}

.fotter-row {
    margin: 0 auto;
    width: 85%;
}