* {
    padding: 0;
    margin: 0;
}

/* Navbar CSS */

.navbar {
    background-color: white !important;
    /* height: 80px; */
    /* border: thin solid red; */
}

.navbar-brand {
    /* margin-bottom: -40px; */
    margin-left: 30px;
}

.logo-img {
    position: absolute;
    height: 140px;
    top: 1px;
    padding: 10px 0;
}

nav ul li a.active,
nav ul li a:hover {
    /* text-decoration: underline; */
    /* border-bottom: thin solid  #093fab; */
    color: #093fab !important;
    transition: .5s;

    .Home-icon,
    .About-icon,
    .Programs-icon,
    .blog-icon,
    .contact-icon {
        fill: #093fab;
        transition: .5s;
    }
}

.nav-item {
    margin-right: 80px;
    font-family: "Roboto", sans-serif !important;
}

.nav-link {
    /* border-bottom: thin solid  #ffffff; */
    transition: .5s;
    color: #04a7ac !important;
}

.nav-item-last {
    margin-right: 0;
}

.offcanvas-title img {
    height: 80px;
}

.Home-icon,
.Programs-icon,
.About-icon,
.blog-icon,
.contact-icon {
    fill: #04a7ac;
}

.Home-svg {
    margin-left: 11px;
    height: 20px;
    display: block;
}

.Abt-svg {
    height: 24px;
    margin-left: 20px;
    display: block;

}

.Programs-svg {
    height: 24px;
    margin-left: 18px;
    display: block;
}

.blog-svg {
    height: 24px;
    margin-left: 15px;
    display: block;

}

.blog-svg_1 {
    height: 24px;
    /* margin-left: 15px; */
    display: block;
}

.contact-svg {
    height: 22px;
    margin-left: 25px;
    display: block;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-header {
    border-bottom: thin solid #9c9c9c;
}

.offcanvas.hiding,
.offcanvas.show {

    .Home-svg,
    .Abt-svg,
    .Programs-svg,
    .blog-svg,
    .contact-svg,
    .blog-svg_1 {
        margin-left: 0;
        margin-right: 30px;
        display: inline;
    }

    .nav-item {
        margin-top: 20px;
        /* transition: .5s; */
    }
}

.offcanvas.hiding,
.offcanvas.show {

    li a.active,
    li a:hover {
        text-decoration: none;
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

@media (max-width:1024px) {
    .nav-item {
        margin-right: 40px;
    }

    .nav-item-last {
        margin-right: 0;
    }
}

/* Banner CSS..................................................................................... */

.banner-fluid {

    background-color: #04a7ac;
    position: relative;
    padding: 0;
}

.banner-heading {
    font-family: "Sniglet", system-ui;
    color: white;
}

.banner-sub {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: justify;
}

/* .banner-row {
    padding-right: 0;
} */

.Abt-banner-img {
    height: 350px;
}

.abt-img-col {
    text-align: center;
}

.cloud-img {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.play-school .col-12{
    align-content: center;
}

@media (max-width:768px) {
    .banner-row {
        text-align: center;
    }

    .banner-row p {
        text-align: center;
    }
}

@media (max-width: 426px) {
    .Abt-banner-img {
        height: auto;
    }
}

/* <!-- Abt-service CSS......................................................................................... --> */

.abt-s-fluid {
    background-image: url(../Images/img1.png), url(../Images/img1.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: left -30px top 80px, right -30px bottom 0;
}

.abt-heading {
    text-align: center;
    margin-top: 40px;
}

.abt-heading h1 {
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

.abt-heading p {
    font-family: "Roboto", sans-serif;
    color: #4a4a4a;
    margin: 0 auto;
    width: 80%;
    font-size: large;
}

.S-right h3 {
    font-family: "Sniglet", system-ui;
    color: #093fab;
}

.S-right p {
    font-family: "Roboto", sans-serif;
}

.abt-s-img {
    height: 370px;
}

.sec-title {
    /* width: 122%; */
    height: auto;
    position: relative;
}

.sec-title col {
    text-align: center;
}

.modal {
    position: absolute;
    /* width: 83.3%; */
    overflow: visible;
    height: auto;
    padding: 0;
    z-index: 0;
    height: auto;
    /* border: thin solid red; */
}

.modal-content {
    height: 370px;
}

.modal .row {
    background-color: #e6f3fd;
}

.modal h1 {
    font-family: "Grand Hotel", cursive;
    color: #04a7ac;
}

.modal h4 {
    font-family: "Sniglet", system-ui;
    color: #093fab;
}

.modal ul {
    padding-left: 1rem;
}

.modal li {
    margin-top: 10px;
}

.inner-prog-img {
    height: 336px;
}

.Play-Grp,
.Jr-KG {
    padding-right: 0;
}

.Pre-KG,
.Sr-KG {
    padding-left: 0;
}

.Play-Grp,
.Pre-KG,
.Jr-KG,
.Sr-KG {
    height: 185px;
    padding: 0;
}

.close {
    position: absolute;
    top: 17px;
    right: 21px;
    color: #333;
    border-radius: 50%;
    background: #cccdce;
    z-index: 1;
    font-size: 30px;
    line-height: 25px;
    width: 30px;
    height: 32px;
    font-weight: bold;
    transition: 0.3s;
    padding-left: 5px;
    cursor: pointer;
}

.play-Grp,
.Pre-Kg,
.Jr-Kg,
.Sr-Kg {
    display: none;
    z-index: 0;
    /* border: thin solid red; */
    border-radius: 10px;
}

@media (max-width:1025px) {
    .circle {
        margin: 0 auto
    }

    .abt-s-img {
        /* margin-top: 50px; */
        height: 290px;
    }

    .Play-Grp,
    .Pre-KG,
    .Jr-KG,
    .Sr-KG {
        height: 145px;
    }

    .inner-prog-img {
        height: 217px;
    }

    .modal-content {
        height: 290px;
    }

}

@media (max-width:769px) {
    .Play-Grp,
    .Pre-KG,
    .Jr-KG,
    .Sr-KG {
        height: 160px;
        width: 50%;
    }

    .program-img-col {
        text-align: center;
    }

    .abt-s-img {
        margin-top: 10px;
        height: 340px;
    }

    .sec-title {
        margin-top: 40px;
    }

    .modal-content {
        height: 320px;
    }
}

@media (max-width:426px) {
    .abt-s-img {
        height: 200px !important;
    }

    .abt-img-col {
        text-align: center !important;
    }

    .circle {
        margin: 0;
    }

    .modal-content {
        height: 240px;
    }

    .Play-Grp,
    .Pre-KG,
    .Jr-KG,
    .Sr-KG {
        height: 120px;
        width: 50%;
    }
}


/* <!-- Service-Teach- CSS......................................................................................... --> */

.s-teach-fluid {
    background-image: url(../Images/mirror_img1.png), url(../Images/footer-buttter.png);
    background-repeat: no-repeat;
    background-size: 8%, 5%;
    background-position: left -40px bottom 90px, right 30px bottom 180px;
    background-color: #9bdee057;
}

.s-teach-heading {
    text-align: center;
    margin-top: 40px;
}

.s-teach-heading h1 {
    font-family: "Grand Hotel", cursive;
    color: #04a7ac !important;
}

.s-teach-heading p {
    font-family: "Roboto", sans-serif;
    /* padding: 0 150px 0 150px; */
}

.circle {
    width: 85px;
    /* Adjust the width and height as needed */
    height: 85px;
    border-radius: 50%;
    border: 2px solid #04a7ac;
    position: relative;
}

.circle img {
    position: absolute;
    left: 16px;
    top: 12px;
    height: 55px;
}

.sub-heading {
    font-family: "Sniglet", system-ui;
    color: #093fab;
}



/* <!-- Service-Section-3 CSS......................................................................................... --> */

.Service-S3-fluid {
    background-image: url(../Images/footer-buttter.png), url(../Images/footer-buttter.png), url(../Images/mirror_img1.png), url(../Images/footer-buttter.png);
    background-repeat: no-repeat;
    background-size: 5%, 5%, 8%, 5%;
    background-position: left 0 top 30px, right 20px top 200px, left -40px bottom 300px, right 20px bottom 30px;
}

.topics h4 {
    font-family: "Sniglet", system-ui;
    color: #093fab;
}

.topics p {
    font-family: "Roboto", sans-serif;
}

/* Footer section............................................................................................ */

.footer-fluid {
    background-color: #04a7ac;
    background-image: url(../Images/bird.png), url(../Images/footer-book.png), url(../Images/footer-book.png), url(../Images/footer-buttter.png), url(../Images/footer-buttter.png), url(../Images//footer-smily.png);
    background-position: top center, left 18px bottom 30px, top 18px right 45px, top 20px left 20px, top right 500px, bottom 20px right 20px;
    background-repeat: no-repeat;
    justify-content: center !important;
    align-items: center !important;
    color: white;
}

.fotter-row {
    margin: 0 auto;
    width: 85%;
}

.fotter-row li {
    margin-top: 8px;
}

.F-Social-div li img {
    padding-right: 15px;
}